pypi_registration.sh
pypi_registration.sh~
rmseq.egg-info
RMseq/__pycache__
dist
RMseq/test_data/rpob.fna.amb
RMseq/test_data/rpob.fna.ann
RMseq/test_data/rpob.fna.bwt
RMseq/test_data/rpob.fna.pac
RMseq/test_data/rpob.fna.sa
test_results
